body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
background-color: rgb(0, 0, 0);
    height: 600px;
}

.btn {
    height: 40px;
    width: 100px;
    background-color: black;
    border-color: rgb(255, 104, 142);
    border-style: solid;
    font-size: large;
    color: rgb(255, 104, 142);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0;

    
}

.btn:hover {
    background-color: rgb(255, 0, 64);
    border-color: rgb(255, 0, 64);
    border-style: solid;
    color: black;
    transform: translateY(-10px);
}